@import '../../../Utils/globalStyles.scss';

.card-frame-container {
	position: relative;

	width: 88%;
	border-radius: 8px;
	height: $CARD_HEIGHT_MOBILE;
}

//The image in the upper right hand corner
.card-frame-container img {
	position: absolute;

	top: 0;
	right: 0;
}

.cardinfo-frame {
	position: absolute;

	bottom: 0;
	width: 100%;
	height: 75%;

	border-radius: 8px;
	background-color: $Dark_Blue;
}

.cardinfo-frame-titlebar {
	color: $Pale_Blue;
	margin-top: 18px;
}

//This is the 3 dots/ellipsis image
.cardinfo-frame-titlebar img {
	margin: 28px 18px 0px 0px;
}

.cardinfo-frame-titlebar span {
	font-weight: 500;
	font-size: 1.2em;
	margin: 0px 0px 0px 12px;
}

.cardinfo-frame-data-content-frame {
	display: flex;
	margin:24px 12px 0px 12px;
	align-items: center;
	justify-content: center;
}

.cardinfo-frame-data-content-hours-worked {
	flex: 1;
	color: white;
	font-size: 1.8em;
}

.cardinfo-frame-data-content-hours-last-week {
	flex: 1;
	text-align: end;
	color: $Pale_Blue;
}

@media only screen and (min-width:$DESKTOP_BP) {
	.card-frame-container {
		border-radius: 8px;
		width: $CARD_HEIGHT;
		height: $CARD_HEIGHT;
	}

	.cardinfo-frame {
		height: 78%;
	}

	.cardinfo-frame-data-content-frame {
		display: block;
		margin:0px;
	}

	.cardinfo-frame-data-content-hours-worked {
		display: block;
		font-size: 1.9em;
		font-weight: 400;
		margin: 28px 0px 0px 12px;
	}
	
	.cardinfo-frame-data-content-hours-last-week {
		display: block;
		font-size: 0.9em;
		text-align: start;
		margin: 4px 0px 0px 12px;
	}
}