@import '../../../Utils/globalStyles.scss';

.user-card-container {
	width: 100%;
	border-radius: 10px;
	height: $CARD_HEIGHT;
	background-color: red;
}

@media only screen and (min-width:$DESKTOP_BP) {
	.user-card-container {
		height: 100%;
		width: $CARD_HEIGHT;
	}
}

