@import '../../../Utils/globalStyles.scss';

.user-card-container {
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	background-color: $Dark_Blue;
}

.user-card-person {
	display: flex;
	flex-direction: row;
	height: $CARD_HEIGHT / 1.5;
	background-color: $PRIMARY_Blue;
	border-radius: 10px 10px 10px 10px;
}

.user-card-timeframes-frame {
	display: flow-root;
}

.user-card-list-of-timeframes {
	color: white;
	list-style-type: none;

	display: flex;
	margin: 18px 0px 18px 28px;
}

.user-card-list-of-timeframes li {
	flex: 1;
}

.user-card-person-textinfo {
	flex: 2;
	margin-left: 8px;
	color: white;

	//So the text itself lines up the way we want it within the block
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.user-card-person-textinfo p:first-child {
	color:$Pale_Blue;
	font-size: 0.9em;
}

.user-card-person-textinfo p {
	color: white;
	font-size: 1.8em;
}

.user-card-person-imageinfo {
	flex: 1;
	width: 100%;

	//So the image itself lines up the way we want it within the block
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-card-person-imageinfo img {
	width: 45%;
}

@media only screen and (min-width:$DESKTOP_BP) {
	.user-card-container {
		height: 100%;
		width: $CARD_HEIGHT;
	}

	.user-card-person {
		width: 100%;
		height: unset;
		gap: 40px;
		flex-direction: column;
	}

	.user-card-person-textinfo {
		flex: 1;
		margin-bottom: 55px;
	}

	.user-card-person-textinfo p {
		font-size: 2.4em;
	}

	.user-card-person-textinfo p:first-child {
		font-size: 1.1em;
	}

	.user-card-timeframes-frame {
		border-radius: 0px 0px 10px 10px;
	}
	
	.user-card-list-of-timeframes {
		flex-direction: column;
		margin-left: 12px;
	}

	.user-card-list-of-timeframes li:first-child {
		margin-top: 16px;
		color: $Pale_Blue;
	}

	.user-card-list-of-timeframes li {
		margin-top: 12px;
	}

	.user-card-person-imageinfo {
		flex: 2;
		justify-content: flex-start;
	}

	.user-card-person-imageinfo img {
		width: 40%;
		margin: 25px 0px 0px 12px;
	}
}