//Primary colors

$PRIMARY_Blue: hsl(246, 80%, 60%);

$PRIMARY_Light_Red: hsl(15, 100%, 70%); //Work
$PRIMARY_Soft_Blue: hsl(195, 74%, 62%); //Play
$PRIMARY_Light_Red: hsl(348, 100%, 68%); //Study
$PRIMARY_Lime_Green: hsl(145, 58%, 55%); //Exercise
$PRIMARY_Violet: hsl(264, 64%, 52%); //Social
$PRIMARY_Soft_Orange: hsl(43, 84%, 65%); //Self-Care


//Neutral Colors
$Dark_Blue: hsl(235, 46%, 20%);
$Pale_Blue: hsl(236, 100%, 87%);
$Very_Dark_Blue: hsl(226, 43%, 10%);
$Desaturated_Blue: hsl(235, 45%, 61%);


$MOBILE_BP: 375px;
$DESKTOP_BP:1080px;
$LARGE_DESKTOP_BP:1445px;

$CARD_HEIGHT:200px;